
caption {
    padding: 10px;
    caption-side: top;
}

h3{
    color: darkorange;
}

#search-btn{
    width: 150px;
    /*background-color: #1F7AF9;*/
}

#trash-ic{
    align-items: center;
    align-content: center;
    alignment: center;
}

.error-field {
    color: red;
}

.listArea{
    margin-top: 40px;
}