<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


    <div layout:fragment="customCSS">
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/static/css/advancedSearch.css}" />
    </div>


    <div class="advancedSearchBar" layout:fragment="content">
        <div class="container" >
            <form th:action="@{/public/advacedSearch}" method="get">
                <label><h5>Advanced search</h5></label>
                <div class="input-group">
                    <input class="form-control border-secondary py-2" type="search" name="keyword" placeholder="search atlas"/>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Search among</a>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                            <a class="dropdown-item" href="#">Atlas</a>
                            <a class="dropdown-item" href="#">Area</a>
                            <a class="dropdown-item" href="#">Crag</a>
                            <a class="dropdown-item" href="#">Route</a>
                        </div>
                    </div>
                    <div class="input-group-append">
                        <button id="search-btn" class="btn btn-outline-secondary" type="submit" >
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <!--<table class="listAtlas table table-bordered table-striped table-condensed">-->
                <!--<caption>-->
                    <!--<h3>LIST OF ALL ATLASES</h3>-->
                <!--</caption>-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>NAME</th>-->
                    <!--<th>AVAILABLE</th>-->
                    <!--<th>CREATION DATE</th>-->
                    <!--<th>OWNER</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr th:each="atlas:${atlases}">-->
                    <!--<td >-->
                        <!--<a th:text="${atlas.name}" th:href="@{/public/showAtlasDetail(atlasId=${atlas.id}, atlasName=${atlas.name})}"></a>-->
                    <!--</td>-->
                    <!--<div th:if="${atlas.available}">-->
                        <!--<td>Yes</td>-->
                    <!--</div>-->
                    <!--<div th:if="${!atlas.available}">-->
                        <!--<td>No</td>-->
                    <!--</div>-->
                    <!--<td th:text="${atlas.createDate}"></td>-->
                    <!--<td th:text="${atlas.user.userName}"></td>-->
                    <!--<td th:if="${userIsAdmin}">-->
                        <!--<a th:href="@{/admin/editAtlas(id=${atlas.id})}">-->
                            <!--<i class="icon fas fa-pencil-alt"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                    <!--<td th:if="${userIsAdmin}">-->
                        <!--<a  id="trash-ic" th:href="@{/admin/deleteAtlas(id=${atlas.id}, page=${currentPage}, size=${size}, keyword=${keyword})}"-->
                            <!--onclick="return confirm('Do you really want to delete this Atlas?')">-->
                            <!--<i class="icon fas fa-trash"></i>-->
                        <!--</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="container">-->
            <!--&lt;!&ndash;<ul class="nav nav-pills">&ndash;&gt;-->
            <!--<ul class="pagination">-->
                <!--<li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page,status:${pages}">-->
                    <!--<a class="page-link" th:href="@{/public/showAtlas(page=${status.index}, size=${size}, keyword=${keyword})}" th:text="${status.index}+1" >-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>

</html>