<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


    <div layout:fragment="content">
        <div class="container">
            <header class="container row col-lg-12">
                <form th:action="@{/public/showAtlasDetail}" method="get">
                    <label><h5>Search area</h5></label>
                    <div class="input-group">
                        <input class="form-control border-secondary py-2" type="search" name="keyword" placeholder="search area"/>
                        <div class="input-group-append">
                            <button id="search-btn" class="btn btn-outline-secondary" type="submit" >
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </header>
            <section class="row">
                <article class="col-lg-8">
                    <table class="listArea table table-bordered table-striped table-condensed">
                        <caption>
                            <h3>LIST OF AREAS IN ATLAS: <span th:text="${atlasName}"></span></h3>
                            <button th:if="${atlas.available}" type="button" class="btn btn-outline-info">Ask for borrow this Atlas</button>
                        </caption>
                        <thead>
                        <tr>
                            <th>NAME</th>
                            <th>LOCALITY</th>
                            <th>APPROACH DURATION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="area:${atlas.areas}">
                            <td >
                                <a th:text="${area.name}" th:href="@{/public/showAreaDetail(id=${area.id})}"></a>
                            </td>
                            <td th:text="${area.locality}"></td>
                            <td th:text="${area.approachDuration}+' minutes'"></td>
                            <td th:if="${userIsAdmin}">
                                <a th:href="@{/admin/editArea(id=${area.id})}">
                                    <i class="icon fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td th:if="${userIsAdmin}">
                                <a  id="trash-ic" th:href="@{/admin/deleteArea(id=${area.id}, page=${currentPage}, size=${size}, keyword=${keyword})}"
                                    onclick="return confirm('Do you really want to delete this Area?')">
                                    <i class="icon fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </article>
                <aside th:if="${atlasIsCommented}">
                    <div th:each="comment:${atlas.comments}" class="card">
                        <div class="card-header">
                            <span th:text="${comment.title}"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span th:text="${comment.content}"></span>
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </aside>
            </section>
            <footer class="row">
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page,status:${pages}">
                        <a class="page-link" th:href="@{/public/showAtlasDetail(atlasId=${atlas.id},page=${status.index}, size=${size}, keyword=${keyword})}" th:text="${status.index}+1" >
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>

</html>