<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


    <div layout:fragment="content">
        <div class="container spacer col-md-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h5 th:if="${pitchForm.id==null}">Create new Pitch</h5>
                    <h5 th:if="${pitchForm.id!=null}">Edit Pitch</h5>
                    <div class="card-block">
                        <form autocomplete="off" th:action="@{/user/savePitch}" method="post" th:object="${pitchForm}">
                            <input th:if="${pitchForm.id!=null}" type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label>Concerned Route</label>
                                <select th:field="*{route}" autofocus>
                                    <option th:each="route:${routes}" th:value="${route.id}" th:text="${route.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input name="inputTxt" type="text" class="form-control" placeholder="The name of the pitch"
                                       th:field="*{name}"/>
                                <span class="error-field" th:errors="*{name}"></span>
                            </div>
                            <div class="form-group">
                                <label>Grade</label>
                                <select th:field="*{grade}">
                                    <option th:each="grade:${grades}" th:value="${grade}" th:text="${grade}">
                                    </option>
                                </select>
                            </div>
                            <div class="autocomplete form-group">
                                <label>Length</label>
                                <input name="inputTxt" type="number" class="form-control" placeholder="the length in meters"
                                       th:field="*{length}"/>
                                <span class="error-field" th:errors="*{length}"></span>
                            </div>
                            <div class="autocomplete form-group">
                                <label>Number of anchors</label>
                                <input name="inputTxt" type="number" class="form-control" th:field="*{nbAnchor}"/>
                                <span class="error-field" th:errors="*{nbAnchor}"></span>
                            </div>
                            <div class="form-group">
                                <label>Verticality</label>
                                <select th:field="*{verticality}">
                                    <option th:each="verticality:${verticalities}" th:value="${verticality}" th:text="${verticality}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Climbing style</label>
                                <input name="inputTxt" type="text" class="form-control" placeholder="Ex: physical, technical, equilibrium?"
                                       th:field="*{style}"/>
                                <span class="error-field" th:errors="*{style}"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>