<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">

    <!--<head>-->
        <!--<div th:insert="fragment/bootstrapCDN :: head"></div>-->

    <div layout:fragment="customCSS">
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/static/css/register.css}" />
    </div>


    <div layout:fragment="content" class="container">
        <div class="container spacer col-md-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h5>CHANGE PASSWORD</h5>
                    <div class="card-block">
                        <!--<div th:if="${errorMessage != null}"-->
                             <!--th:utext="${errorMessage}" class="error">...</div>-->
                        <form th:action="@{'/user/changePassword/' + ${session.user.id}}" method="post" th:object="${passwordForm}">
                            <!--<input type="hidden" th:field="*{id}"/>-->
                            <div class="form-group" >
                                <label>Current password</label>
                                <input type="password" name="inputTxt" th:field="*{currentPassword}" placeholder="" autofocus />
                                <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">..</span>
                            </div>
                            <div class="form-group" >
                                <label>New password</label>
                                <input type="password" name="inputTxt" th:field="*{newPassword}" placeholder="" autofocus />
                                <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">..</span>
                            </div>
                            <div class="form-group" >
                                <label>New password confirm</label>
                                <input type="password" name="inputTxt" th:field="*{newPasswordConfirm}" placeholder="" autofocus />
                                <span th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">..</span>
                            </div>

                            <button type="submit" class="btn btn-outline-success">Submit</button>
                            <a th:href="@{/public/showAtlas}">
                                <button type="button" class="btn btn-outline-danger">Cancel</button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>