<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:insert="fragment/bootstrapCDN :: head"></div>
        <title>Login</title>

    </head>

    <body>

        <div class="container-fluid">

            <h1 class="row col-lg-12" style="margin-left:50px">Login</h1>

            <!-- /login?error=true -->
            <div class="row col-lg-12" th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin-left:50px;">
                Login Failed!!!<br />
                <!--Reason :-->
                <!--<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"-->
                <!--th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">-->
                <!--Static summary-->
                <!--</span>-->
            </div>

            <h3 class="row col-lg-12" style="margin-left:50px">Enter your email and password:</h3>

            <form style="margin:50px" name='f' th:action="@{/j_spring_security_check}" method='POST'>

                <div style="width: 200px" class="form-group">
                    Email
                    <input class="form-control" type='text' name='username' value=''>
                </div>

                <div style="width: 200px" class="form-group">
                    Password
                    <input class="form-control" type='password' name='password' />
                </div>

                <div style="width: 200px" class="form-group">
                    Remember me?
                    <input class="check-box" type="checkbox" name="remember-me" />
                </div>

                <div class="form-group">
                    <input style="width: 200px" class="btn btn-info" name="submit" type="submit" value="submit" />
                </div>

            </form>

        </div>

    </body>

</html>