<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">

    <head>
        <div th:insert="fragment/bootstrapCDN :: head"></div>

    </head>


    <body>

        <div layout:fragment="content">
            <div class="container">
                <div class="card-header">
                    <div class="card-body">
                        <h4 style="color: black">You have been logged out.</h4>
                    </div>
                </div>

            </div>
        </div>

    </body>

</html>