<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


    <div layout:fragment="customCSS">
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/static/css/atlasDetail.css}" />
    </div>


    <div layout:fragment="content">
        <div class="container">
            <!--<div class="container">-->
            <header class="container row col-lg-12">
                <form th:action="@{/public/showAtlasDetail}" method="get">
                    <label><h5>Search area</h5></label>
                    <div class="input-group">
                        <input class="form-control border-secondary py-2" type="search" name="keyword" placeholder="search area"/>
                        <div class="input-group-append">
                            <button id="search-btn" class="btn btn-outline-secondary" type="submit" >
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </header>
            <!--</div>-->
            <!--<div class="container col-lg-8">-->
            <section class="row">
                <article class="col-lg-8">
                    <table class="listArea table table-bordered table-striped table-condensed">
                        <caption>
                            <h3>LIST OF AREAS IN ATLAS: <span th:text="${atlasName}"></span></h3>
                            <!--<button th:if="${atlas.available}" type="button" class="btn btn-outline-info">Ask for borrow this Atlas</button>-->
                            <button th:if="${atlas.available}" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#bookModal">Ask for borrow this Atlas</button>

                            <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Booking request to: @
                                                <span th:text="${atlas.user.userName}"></span></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!--<div class="modal-body">-->
                                            <!--<form th:action="@{/user/saveRequestBooking(atlasId=${atlas.id})}" method="post">-->
                                                <!--<div class="form-group">-->
                                                    <!--<label for="datepicker-start" class="col-form-label">Start date:</label>-->
                                                    <!--<input id="datepicker-start" th:field="${bookingRequest.startDate}" width="276" />-->
                                                    <!--<script>-->
                                                        <!--$('#datepicker-start').datepicker({-->
                                                            <!--uiLibrary: 'bootstrap4'-->
                                                        <!--});-->
                                                    <!--</script>-->
                                                <!--</div>-->
                                                <!--<div class="form-group">-->
                                                    <!--<label for="datepicker-end" class="col-form-label">End date:</label>-->
                                                    <!--<input id="datepicker-end" th:field="${bookingRequest.endDate}" width="276" />-->
                                                    <!--<script>-->
                                                        <!--$('#datepicker-end').datepicker({-->
                                                            <!--uiLibrary: 'bootstrap4'-->
                                                        <!--});-->
                                                    <!--</script>-->
                                                <!--</div>-->

                                                <!--<div class="form-group">-->
                                                    <!--<label for="message-text" class="col-form-label">Add a message:</label>-->
                                                    <!--<textarea class="form-control" id="message-text" th:field="${bookingRequest.message}"></textarea>-->
                                                <!--</div>-->
                                            <!--</form>-->
                                        <!--</div>-->
                                        <!--<div class="modal-footer">-->
                                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                                            <!--<button type="submit" class="btn btn-primary">Send message</button>-->
                                        <!--</div>-->
                                        <div class="modal-body">
                                            <form th:action="@{/user/saveBookingRequest(atlasId=${atlas.id})}" method="post">
                                                <div class="form-group">
                                                    <label for="datepicker-start" class="col-form-label">Start date:</label>
                                                    <input id="datepicker-start"  width="276" th:field="${bookingRequest.startDate}" />
                                                    <script>
                                                        $('#datepicker-start').datepicker({
                                                            uiLibrary: 'bootstrap4'
                                                        });
                                                    </script>
                                                </div>
                                                <div class="form-group">
                                                    <label for="datepicker-end" class="col-form-label">End date:</label>
                                                    <input id="datepicker-end" th:field="${bookingRequest.endDate}" width="276" />
                                                    <script>
                                                        $('#datepicker-end').datepicker({
                                                            uiLibrary: 'bootstrap4'
                                                        });
                                                    </script>
                                                </div>

                                                <div class="form-group">
                                                    <label for="message-text" th:field="${bookingRequest.message}" class="col-form-label">Add a message:</label>
                                                    <textarea class="form-control" id="message-text" ></textarea>
                                                </div>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" >Send request</button>
                                            </form>
                                        </div>
                                        <!--<div class="modal-footer">-->
                                            <!---->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>

                        </caption>
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>LOCALITY</th>
                                <th>APPROACH DURATION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="area:${atlas.areas}">
                                <td >
                                    <a th:text="${area.name}" th:href="@{/public/showAreaDetail(id=${area.id})}"></a>
                                </td>
                                <td th:text="${area.locality}"></td>
                                <td th:text="${area.approachDuration}+' minutes'"></td>
                                <td th:if="${userIsAdmin}">
                                    <a th:href="@{/admin/editArea(id=${area.id})}">
                                        <i class="icon fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td th:if="${userIsAdmin}">
                                    <a  id="trash-ic" th:href="@{/admin/deleteArea(id=${area.id}, page=${currentPage}, size=${size}, keyword=${keyword})}"
                                        onclick="return confirm('Do you really want to delete this Area?')">
                                        <i class="icon fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>
                <aside th:if="${atlasIsCommented}">
                    <div th:each="comment:${atlas.comments}" class="card">
                        <div class="card-header">
                            <span th:text="${comment.title}"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span th:text="${comment.content}"></span>
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </aside>
            <!--</div>-->
            </section>
            <!--<div class="container col-lg-8">-->
            <footer class="row">
                <!--<ul class="nav nav-pills">-->
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page,status:${pages}">
                        <a class="page-link" th:href="@{/public/showAtlasDetail(atlasId=${atlas.id},page=${status.index}, size=${size}, keyword=${keyword})}" th:text="${status.index}+1" >
                        </a>
                    </li>
                </ul>
            <!--</div>-->
            </footer>
        </div>
    </div>

</html>