<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


    <div layout:fragment="customCSS">
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/static/css/crag.css}" />
    </div>


    <div layout:fragment="content">
        <div class="container">
            <section class="row">
                <article class="col-lg-8">
                    <table class="listArea table table-bordered table-striped table-condensed">
                        <caption>
                            <h3>LIST OF AREAS IN ATLAS: <span th:text="${atlas.name}"></span></h3>
                            <a th:if="${atlas.available && session.connectedUser!=null && !session.atlasesIds.contains(atlas.id)}" class="btn btn-primary" th:href="@{/user/createBookingRequest(atlasId=${atlas.id})}" role="button">Ask for borrow this Atlas</a>
                        </caption>
                        <thead>
                            <tr>
                                <th th:if="${session.connectedUser!=null}"></th>
                                <th>NAME</th>
                                <th>NEAREST CITY</th>
                                <th>APPROACH DURATION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="area:${atlas.areas}">
                                <td th:if="${session.connectedUser!=null}">
                                    <a th:href="@{/user/commentElement(elementId=${area.id})}">
                                        <i class="fas fa-comment-dots"></i>
                                    </a>
                                </td>
                                <td >
                                    <a th:text="${area.name}" th:href="@{/public/showCrag(areaId=${area.id})}"></a>
                                </td>
                                <td th:text="${area.nearestCity}"></td>
                                <td th:text="${area.approachDuration}+' minutes'"></td>
                                <span th:if="${session.connectedUser!=null and (session.role.contains('ROLE_ADMIN') or (session.role.contains('ROLE_USER') and areasId.contains(area.id)))}">
                                    <td>
                                        <a th:href="@{/user/editArea(id=${area.id})}">
                                            <i class="icon fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                    <td >
                                        <a  id="trash-ic" th:href="@{/user/deleteArea(id=${area.id},parentId=${area.atlas.id}, page=${currentPage}, size=${size})}"
                                            onclick="return confirm('Do you really want to delete this Area?')">
                                            <i class="icon fas fa-trash"></i>
                                        </a>
                                    </td>
                                </span>
                            </tr>
                        </tbody>
                    </table>
                </article>
                <aside th:if="${elementIsCommented}">
                    <h4>Comments</h4>
                    <div th:each="comment:${atlas.comments}" class="card">
                        <div class="card-header">
                            <span th:text="${comment.title}"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <span th:text="${comment.content}"></span>
                            </p>
                        </div>
                    </div>
                </aside>
            <!--</div>-->
            </section>
            <!--<div class="container col-lg-8">-->
            <footer class="row container">
                <!--<ul class="nav nav-pills">-->
                <ul class="pagination">
                    <li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page,status:${pages}">
                    <!--<li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page">-->
                        <a class="page-link" th:href="@{/public/showArea(atlasId=${atlas.id},page=${status.index}, size=${size})}" th:text="${status.index}+1" >
                        </a>
                        <!--<a class="page-link" th:href="@{/public/showArea(page=${status.index}, size=${size})}" th:text="${status.index}+1" >-->
                        <!--</a>-->
                    </li>
                </ul>
            <!--</div>-->
            </footer>
        </div>
    </div>

</html>