<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


<div layout:fragment="customCSS">
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/static/css/pitch.css}" />
</div>


<div layout:fragment="content">


    <div class="container">
        <ul class="row" id="breadcrumbs">
            <li><a th:href="@{/public/showAtlas}">List of all atlases</a></li>
            <li><a th:href="@{/public/showArea(atlasId=${route.crag.area.atlas.id})}">Atlas: <span th:text="${route.crag.area.atlas.name}"></span></a></li>
            <li><a th:href="@{/public/showCrag(areaId=${route.crag.area.id})}">Area: <span th:text="${route.crag.area.name}"></span></a></li>
            <li><a th:href="@{/public/showRoute(cragId=${route.crag.id})}">Crag: <span th:text="${route.crag.name}"></span></a></li>
            <li><a href="#">Route: <span th:text="${route.name}"></span></a></li>
        </ul>
        <div class="row">
            <div class="col-lg-8">
                <table class="listArea table table-bordered table-striped table-condensed">
                    <caption>
                        <h5>LIST OF PITCHES</h5>
                    </caption>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>GRADE</th>
                            <th>LENGTH</th>
                            <th>METERS BETWEEN ANCHORS</th>
                            <th>VERTICALITY</th>
                            <th>STYLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pitch:${pitches}">
                            <td th:text="${pitch.name}"></td>
                            <td th:text="${pitch.grade}"></td>
                            <td th:text="${pitch.length}+' meters'"></td>
                            <td th:text="${(pitch.length)/(pitch.nbAnchor+1)}"></td>
                            <td th:text="${pitch.verticality}"></td>
                            <td th:text="${pitch.style}"></td>
                            <span th:if="${session.connectedUser!=null and (session.role.contains('ROLE_ADMIN') or (session.role.contains('ROLE_USER') and pitchesIds.contains(pitch.id)))}">
                                <td>
                                    <a th:href="@{/user/editPitch(id=${pitch.id})}">
                                        <i class="icon fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <form autocomplete="off" th:action="@{'/user/deletePitch/' + ${pitch.id}+'/'+${pitch.route.id}+'/'+${currentPage}+'/'+${size}}" method="post">
                                        <button type="submit" class="btn btn-primary" onclick="return confirm('Do you really want to delete this Pitch?')">
                                            <i class="icon fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </span>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${elementIsCommented}">
                <h6>COMMENTS</h6>
                <div th:each="comment:${route.comments}" class="card">
                    <div class="card-header">
                        <span th:text="'Title: '+${comment.title}+' | Author: '+${comment.user.userName}+' | Posted: ' +${#temporals.format(comment.createDate, 'yyyy-MM-dd')}"></span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span th:text="${comment.content}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row">
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page,status:${pages}">
                    <a class="page-link" th:href="@{/public/showPitch(routeId=${route.id},page=${status.index}, size=${size})}" th:text="${status.index}+1" >
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</div>

</html>