<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout.html">


    <div layout:fragment="customCSS">
        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/static/css/atlas.css}" />
    </div>


    <div layout:fragment="content">
        <div class="container">
            <table class="listAtlas table table-bordered table-striped table-condensed">
                <caption>
                    <h3>LIST OF ALL ATLASES</h3>
                </caption>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>CAN BE BORROWED</th>
                        <th>COMMENTS</th>
                        <th>CREATION DATE</th>
                        <th>OWNER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="atlas:${atlases}">
                        <td >
                            <a th:text="${atlas.name}" th:href="@{/public/showArea(atlasId=${atlas.id}, atlasName=${atlas.name})}"></a>
                        </td>
                        <div th:if="${atlas.available}">
                            <td>Yes </td>
                            <!--<td>Yes <a><i class="fas fa-hand-holding"></i></a></td>-->
                        </div>
                        <div th:if="${!atlas.available}">
                            <td>No</td>
                        </div>
                        <td th:text="${atlas.getComments().size()}"></td>
                        <td th:text="${atlas.createDate}"></td>
                        <td th:text="${atlas.user.userName}"></td>
                        <td th:if="${userIsAdmin}">
                            <a th:href="@{/admin/editAtlas(id=${atlas.id})}">
                                <i class="icon fas fa-pencil-alt"></i>
                            </a>
                        </td>
                        <td th:if="${userIsAdmin}">
                            <a  id="trash-ic" th:href="@{/admin/deleteAtlas(id=${atlas.id}, page=${currentPage}, size=${size}, keyword=${keyword})}"
                            onclick="return confirm('Do you really want to delete this Atlas?')">
                                <i class="icon fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <ul class="pagination">
                <li class="page-item" th:class="${currentPage}==${status.index}?'page-item active':''" th:each = "page,status:${pages}">
                    <a class="page-link" th:href="@{/public/showAtlas(page=${status.index}, size=${size}, keyword=${keyword})}" th:text="${status.index}+1" >
                    </a>
                </li>
            </ul>
        </div>
    </div>

</html>