<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!--<head th:replace="bootstrapCDN :: head">-->
    <head>

        <link rel="stylesheet"
        href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
        <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" media="all"
              th:href="@{/css/atlas.css}" href="../static/css/atlas.css"/>

    </head>

    <!--<head>-->
        <!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>-->
        <!--<link rel="stylesheet" type="text/css" href="../static/css/atlas.css"/>-->
        <!--<link rel="stylesheet" type="text/css" media="all" -->
              <!--th:href="@{css/atlas.css}" href="css/atlas.css"/>-->
    <!--</head>-->

    <body>

    <div class="container">
            <table class="table table-bordered table-striped table-condensed">
                <caption>
                    <h3>LIST OF ALL ATLASES</h3>
                </caption>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>AVAILABLE</th>
                        <th>CREATION DATE</th>
                        <th>OWNER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="atlas:${atlases}">
                        <td th:text="${atlas.name}"></td>
                        <td th:text="${atlas.available}"></td>
                        <td th:text="${atlas.createDate}"></td>
                        <td th:text="${atlas.user.userName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>