<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>NAME</th><th>AVAILABLE</th><th>CREATION_DATE</th><th>USERNAME</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="atlas:${atlases}">
                    <td th:text="${atlas.name}"></td>
                    <td th:text="${atlas.available}"></td>
                    <td th:text="${atlas.createDate}"></td>
                    <td th:text="${atlas.user.userName}"></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>