<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>

        <div class="container-fluid">

            <!-- Include _menu.html -->
            <!--<th:block th:include="/_menu"></th:block>-->

            <h1 class="row col-lg-12" style="margin-left:50px">Login</h1>

            <!-- /login?error=true -->
            <div class="row col-lg-12" th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin-left:50px;">
                Login Failed!!!<br />
                <!--Reason :-->
                <!--<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"-->
                <!--th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">-->
                <!--Static summary-->
                <!--</span>-->
            </div>

            <h3 class="row col-lg-12" style="margin-left:50px">Enter user name and password:</h3>

            <form style="margin:50px" name='f' th:action="@{/j_spring_security_check}" method='POST'>

                <div style="width: 200px" class="form-group">
                    Email
                    <input class="form-control" type='text' name='username' value=''>
                </div>

                <div style="width: 200px" class="form-group">
                    Password
                    <input class="form-control" type='password' name='password' />
                </div>

                <div style="width: 200px" class="form-group">
                    Remember me?
                    <input class="check-box" type="checkbox" name="remember-me" />
                </div>

                <div class="form-group">
                    <input style="width: 200px" class="btn btn-info" name="submit" type="submit" value="submit" />
                </div>

            </form>

        </div>

    </body>

</html>